<div class="recurrence-container">
    <div class="recurrence-period-container">
        <p>
            <label>
                {{'RECURRENCE_REPEAT_EVERY_KEY' | translate}}<sup class="asterick">*</sup>
            </label>
        </p>
        <div class="recurrence-period-value-container">
            <input type="number" min="1" ng-model="recurringPattern.period"
                   required ng-disabled="isAppointmentCancelled"/>
            <select class="recurrence-type" ng-model="recurringPattern.type" ng-disabled="isAppointmentCancelled"
                    ng-options="(recurrenceType | uppercase) as recurrenceType for recurrenceType in recurrenceTypes" required>
                <option value="">{{ ::'PLACEHOLDER_RECURRENCE_TYPE' | translate}}</option>
            </select>
        </div>
    </div>

    <div class="recurrence-days-container" ng-if="recurringPattern.type === 'WEEK'">
        <p>
            <label>
                {{'RECURRENCE_REPEAT_ON' | translate}}<sup class="asterick">*</sup>
            </label>
        </p>
        <div class="recurrence-days-value-container">
            <label ng-repeat="day in weekDays">
                <input type="checkbox" value="{{day}}"
                       ng-required="recurringPattern.daysOfWeek.length === 0"
                       ng-click="updateSelectedDays(day)"
                       ng-checked="isDaySelected(day)"
                       ng-disabled="isAppointmentCancelled">
                <div>{{day.substring(0, 3)[0].toUpperCase() + day.substring(0, 3).slice(1).toLowerCase()}}</div>
            </label>
        </div>
    </div>


    <div class="recurrence-end-container" ng-if="recurringPattern.type">
        <p>
            <label>
                {{'RECURRENCE_ENDS_KEY' | translate}}
                <sup class="asterick">*</sup>
            </label>
        </p>
        <div class="recurrence-end-value-container" required="recurringPattern.recurrenceTerminationType">
            <label>
                <input type="radio" name="recurrenceTerminationSelection"
                       ng-value="'frequency'"
                       ng-model="recurringPattern.recurrenceTerminationType"
                       ng-required="!recurringPattern.recurrenceTerminationType"
                       ng-disabled="isAppointmentCancelled">
                <div class="recurrence-end-option-value">
                    <div>
                        <span class="common-indent">{{ :: 'RECURRENCE_NUMBER_OF_OCCURRENCES_PREFIX' | translate}} </span>
                        <input type="number" min="{{isRecurrenceTerminationTypeFrequency() ? 1 : 0}}"
                               ng-model="recurringPattern.frequency"
                               ng-disabled="isEditMode() || isAppointmentCancelled"
                               ng-required="isRecurrenceTerminationTypeFrequency()"
                               ng-click="setTerminationType('frequency')"/>
                        <span>{{ :: 'RECURRENCE_NUMBER_OF_OCCURRENCES_SUFFIX' | translate}}</span>
                    </div>
                    <div ng-if="isEditMode()" class="none">
                        <span>{{ :: 'RECURRENCE_PENDING_OCCURRENCES_PREFIX' | translate}}</span>
                        <input type="number" min="0"
                               ng-model="recurringPattern.pendingOccurrences"
                               ng-disabled="isAppointmentCancelled"/>
                    </div>
                </div>
            </label>
            <label>
                <input type="radio" name="recurrenceTerminationSelection"
                       ng-value="'endDate'"
                       ng-model="recurringPattern.recurrenceTerminationType"
                       ng-required="!recurringPattern.recurrenceTerminationType"
                       ng-disabled="isAppointmentCancelled"/>
                <div class="recurrence-end-option-value">
                    <div>
                        <span class="common-indent">{{ :: 'RECURRENCE_END_DATE_PREFIX' | translate}}</span>
                        <input date-converter class="end-date-value" type="date" min="{{isRecurrenceTerminationTypeEndDate() ? getMinEndDate() : null}}"
                               ng-model="recurringPattern.endDate"
                               ng-required="isRecurrenceTerminationTypeEndDate()"
                               ng-click="setTerminationType('endDate')"
                               ng-disabled="isAppointmentCancelled"/>
                    </div>
                </div>
            </label>
        </div>
    </div>
</div>
