<div class="ngdialog-close clearfix"></div>
<div class="ot-surgical-appointment-dialog">
    <h4>{{'OT_SURGICAL_APPOINTMENT_DIALOG_DETAILS' | translate}}</h4>
    <p>{{'OT_PATIENT' | translate}}: {{ngDialogData.patient.display}}</p>
    <div class="center">
        <button show-if-privilege="app:ot:write" ng-mousedown="goToEdit($event)">
            {{'OT_EDIT_KEY' | translate}}
        </button>
        <button show-if-privilege="app:ot:write" ng-disabled="cancelDisabled"
                ng-mousedown="cancelSurgicalBlockOrSurgicalAppointment()">{{'OT_CANCEL_KEY' | translate}}
        </button>
    </div>
</div>